:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #dbd8d8;
}
#root {
  min-width: 100%;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body,
form,
div {
  margin: 0;
  padding: 0;
}
p {
  margin-top: 0;
  margin-bottom: 8px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  margin: 0;
  padding: 12px 0;
  min-width: 100%;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
header {
  background-color: #213547;
}
label,
h2 {
  color: #213547;
}

label {
  font-size: 18px;
}
.mainContainer {
  display: flex;
  padding: 14px;
  justify-content: space-around;
  gap: 50px;
}
.forms {
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 14px;
  background-color: #c0c0c0;
}

.btnContainer {
  display: flex;
  justify-content: center;
  padding-top: 8px;
  gap: 5px;
}
.preview {
  border: 1px solid black;
  min-width: 500px;
  height: 85vh;
  padding: 0 14px;
  color: #213547;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1.1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #213547;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 9px;
}

button:focus,
button:focus-visible {
  outline: 2px auto -webkit-focus-ring-color;
}
input {
  min-height: 40px;
  border-radius: 7px;
  border: none;
  padding-left: 4px;
  margin-bottom: 5px;
  display: block;
  font-size: 16px;
  color: black;
  background-color: #dbd8d8;
}
input:focus {
  outline: 1px solid gray;
}

textarea {
  width: 100%;
  padding: 0;
  outline: none;
  min-height: 150px;
  font-size: 16px;
  resize: vertical;
  color: black;
  background-color: #dbd8d8;
}

.infoForm,
.experienceForm,
.educationForm {
  display: flex;
  flex-direction: column;
}
.personalInfo,
.education,
.experience {
  width: 100%;
}
.btnContainer {
  display: flex;
  justify-content: space-evenly;
}
.footer {
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  padding-top: 4px;
  gap: 4px;
  background-color: transparent;
  color: white;
  font-family: monospace;
  font-style: italic;
  user-select: none;
}
.footer img {
  width: 17px;
  height: 17px;
}
.footer p {
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
