:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
#root {
  min-width: 100%;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body,
form,
div {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  margin: 0;
  padding: 12px 0;
  min-width: 100%;
  text-align: center;
}
.main-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  border: 2px solid gold;
}
.forms {
  display: flex;
  padding-left: 13px;
  flex-direction: column;
  align-items: center;
}
.btnContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1.1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.infoForm,
.experienceForm,
.educationForm {
  display: flex;
  flex-direction: column;
}
.footer {
  z-index: -1;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  padding-top: 4px;
  gap: 4px;
  background-color: transparent;
  color: white;
  font-family: monospace;
  font-style: italic;
  user-select: none;
}
.footer img {
  width: 17px;
  height: 17px;
}
.footer p {
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
